---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola 👋</div>
    <div class="text-5xl font-bold">Soy Kevin</div>
    <div class="text-3xl py-3 font-bold">Ingeniero de datos y Analista BI</div>
    <div class="py-2">
      <text class="text-lg">
        Tengo más de 5 años de experiencia en áreas relacionadas con Tecnología de la 
        Información (TI), Business Intelligence (BI) y Ciencia de Datos. Me apasiona trabajar 
        para empresas que tengan una cultura basada en el análisis de datos. Considero que 
        soy una persona responsable, comprometida y que cumple con las tareas asignadas 
        en los plazos establecidos. Además, poseo habilidades para adaptarme a los cambios 
        y aprender de manera rápida.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/kevinloor/" target="_blank" > Linkedin ➟</a>
      <a href="mailto:kevinloormz@gmail.com" target="_blank" class="btn btn-outline ml-5">
        Correo
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Spark Fundamentals"
    img="/ApacheSpark.webp"
    desc="En mi proyecto de exploración de datos en Deepnote, utilicé Apache Spark para procesar grandes volúmenes de datos de una competencia de los Juegos Olímpicos. Mi objetivo era obtener información sobre los resultados de los juegos, los atletas y los países participantes. Utilizando Spark, pude procesar los datos de manera eficiente y obtener información valiosa en poco tiempo. Este proyecto me permitió mejorar mis habilidades en el procesamiento de grandes volúmenes de datos y en la exploración de datos."
    url="https://deepnote.com/@kevin-loor/Spark-NUcx6iefRL6IFYeuX15Qgg"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

</BaseLayout>
